.Overlay {
    width: 100%;
    height: 90%;
    background-color: rgba(200, 200, 200, 0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content {
    width: 500px;
    height: auto;
    background-color: #eee;
    border-radius: 8px;
}

.BodyInput{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.BodyInput p {
    margin: 10px;
    font-size: 16px;
}

.BodyInput input{
    border: 2px solid #00ADB5;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 8px;
    outline: none;
    height: 30px;
}
.alamat{
    display: flex;
    flex-direction: row;
}

.alamat #alamat1{
    width: 360px;
}

.alamat #alamat2{
    width: 140px;
}

.namadanumur{
    display: flex;
    flex-direction: row;
}

#nama{
    width: 400px;
}

#usia{
    width: 100px;
}

.buttonSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.buttonSection button{
    border: none;
    background-color: transparent;
    color: azure;
    border-radius: 6px;
    cursor: pointer;
    
}

#cancel{
    background-color: crimson;
    padding: 14px 13px 14px 13px;
}

#added{
    background-color: #00ADB5;
    padding: 14px 20px 14px 20px;
}
.selection{
    border: solid 2px #00ADB5;
    border-radius: 6px;
    outline: none;
    margin-left: 10px;
}